body {
  margin:0;
  width:100%;
}
p {
  margin:0;
}
.menuIcon {
  background: url("../../assets/images/menu-icon.svg") no-repeat top center;
  text-indent: -99999px;
  width: 50px;
  height: 50px;
  background-size: 50px !important;
  border: none;
  margin-top: 15px;
  position: relative;
}
.mainMenu {
  font-size: 13px;
  position: relative;
  z-index: 101;
  clear: both;
  margin-bottom: 1em;
}
.mainMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.mainMenu li {
  display: block;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #efefef;
  background: white;
}
.mainMenu a {
  color: #333333;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .mainMenu a {
    height: 45px;
    line-height: 45px;
    padding: 0 1em;
    width: 100%;
    display: block;
    font-size: 1.2em;
  }
}